[project]
	description = A tool for finding strong assumptions on APIs with non-deterministic specifications.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Gyori (alexgyori)
[access "refs/for/refs/*"]
	read = group user/Alex Gyori (alexgyori)
	push = group user/Alex Gyori (alexgyori)
	label-Code-Review = -2..+2 group user/Alex Gyori (alexgyori)
	label-Verified = -1..+1 group user/Alex Gyori (alexgyori)
	rebase = group user/Alex Gyori (alexgyori)
	removeReviewer = group user/Alex Gyori (alexgyori)
	submit = group user/Alex Gyori (alexgyori)
[access "refs/heads/*"]
	read = group user/Alex Gyori (alexgyori)
	create = group user/Alex Gyori (alexgyori)
	push = +force group user/Alex Gyori (alexgyori)
	pushMerge = group user/Alex Gyori (alexgyori)
[access "refs/tags/*"]
	push = +force group user/Alex Gyori (alexgyori)
	pushTag = group user/Alex Gyori (alexgyori)
	pushSignedTag = group user/Alex Gyori (alexgyori)
